@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-b from-blue-400 to-blue-600;
  }
}
